<!DOCTYPE html>
<html lang="it">
  <head>
    <title>Cina</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="china.png" type="image/png" />
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <script
      src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <nav>
          <div class="nav-item">
            <a href="./">Home</a>
          </div>
          <div class="nav-item">
            <a href="./sitografia.html">Sitografia</a>
          </div>
          <div class="nav-item">
            <a href="./bibliografia.html">Bibliografia</a>
          </div>
        </nav>
        <div class="title">
          <img src="china.png" alt="Cina" />
          <h1>La Cina nel Medioevo</h1>
        </div>
        <img src="./assets/banner.jpg" alt="Cina" class="banner" />
      </div>
    </header>
    <div class="container">
      <div class="section-top-mask">
        <div class="sections" id="sections">
          <div class="section" v-for="section in sections">
            <div class="content">
              <h2 v-if="section.title">{{section.title}}</h2>
              <p v-if="section.text">{{section.text}}</p>
              <div class="image">
                <img
                  class="image"
                  v-if="section.image"
                  v-bind:src="section.image"
                  v-bind:alt="section.image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js" type="text/javascript"></script>
  </body>
</html>
