$sectionHeight: 60vh;
$edgeHeights: 40vh / 2;

@font-face {
  font-family: "San Francisco";
  src: url("../assets/SFProDisplay-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2d2e;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: "San Francisco";
}

nav {
  display: flex;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  .nav-item {
    margin: 10px;
    transition: transform .3s;
    
    a {
      color: white;
      text-decoration: none;
      font-size: 20px;

    }

    &:hover {
      transform: rotate(10deg);
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .header-content {
    margin: 0;
    padding: 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 3px 3px 10px black;
      margin-bottom: 20px;

      h1 {
        font-size: 3vw;
        margin: 0;
      }

      img {
        width: 5vw;
        margin-right: 20px;
      }

    }

    .banner {
      width: 45vw;
      border-radius: 5px;
    }
  }
}

.sections {
  scroll-behavior: smooth;

  .section {
    margin: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin-top: 0;
      .emoji {
        width: 24px;
      }
    }

    .content {
      width: 600px;

      p {
        max-width: 600px;
      }

      .image {
        width: 100%;
        max-height: 80vh;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
}
